   <div class="col-md-12 header-title" id="landing-img">
    <div class="container-fluid">
      <h1 class="logo" id="site-title">Bakesale</h1>
      <a class="tag-line header-title-hgroup" id="tagline" href="/login"> Start selling</a>
    </div>
  </div>

  