   <div class="col-md-12 header-title" id="landing-img">
    <div class="container-fluid">
      <h1 class="logo" id="site-title">Bakesale</h1>
      <h2 class="tag-line header-title-hgroup" id="tagline"> Start selling</h2>
    </div>
  </div>